---
import Layout from "../layouts/Layout.astro";
---


<Layout title="About the proyect">
    <h2>About the proyect</h2>

    <p>The SpaceX launches project is a demo for hte Astro course</p>
</Layout>